@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/fonts/roboto_condensed/RobotoCondensed-Regular.ttf');
}

body,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

body{
    background-image: url('assets/holz.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {    
    color: white;    
    text-align:center;
    font-size: 10em;
    margin-bottom:.1em;
}

.subtitle {
    color: white;    
    text-align:center;
    font-size: 4em;
    line-height: .5em;
}

.contact {
    background-color: rgb(63, 60, 60);
    margin-left:10%;
    margin-right:10%;
    margin-top:20%;
    padding:1em;
}

.name {
    color: white;    
    text-align:center;
    font-size: 4em;
    line-height: 1em;
}

.contactme {
    color: white;    
    text-align:center;
    font-size: 2em;
    line-height: 1em;
}